---
import Layout from "../layouts/Base.astro";
import LineFancy from "../components/LineFancy.astro";

import { Image, getImage } from "astro:assets";

// Define an array of image objects
const images = [
  { src: import("/src/images/skeleton/articblackheart1.jpg"), alt: "Skeleton and fur heart" },
  { src: import("/src/images/skeleton/skullbasket.jpg"), alt: "Skull in a basket" },
  { src: import("/src/images/skeleton/skeleton_and_fur_tail.jpg"), alt: "Skeleton and fur tail" },
  { src: import("/src/images/skeleton/skeleton_skulldogwhippetplant1.jpg"), alt: "Skeleton skull dog whippet plant" },
  { src: import("/src/images/skeleton/skeleton_withvial.jpg"), alt: "Skeleton with vial" },
  { src: import("/src/images/skeleton/skeleton_fulldogartictabletulip.jpg"), alt: "Skeleton full dog arctic tulip" },
  { src: import("/src/images/skeleton/skeleton_catfurballs.jpg"), alt: "Skeleton cat fur balls" },
  { src: import("/src/images/skeleton/skeleton_skullcatclose.jpg"), alt: "Skeleton skull cat close" },
  { src: import("/src/images/skeleton/skeleton_catholdingoutpaw.jpg"), alt: "Skeleton cat holding out paw" },
  { src: import("/src/images/skeleton/skeleton_skullcatheadstone.jpg"), alt: "Skeleton skull cat headstone" },
  { src: import("/src/images/skeleton/skullonfurorange.jpg"), alt: "Skull on orange fur" },
  { src: import("/src/images/skeleton/skeleton_skulldogcandle.jpg"), alt: "Skeleton skull dog candle" },
  { src: import("/src/images/skeleton/skeleton_bonesarranged.jpg"), alt: "Skeleton bones arranged" },
  { src: import("/src/images/skeleton/skeleton_skullcrossbonescatfur.jpg"), alt: "Skeleton skull crossbones cat fur" },
  { src: import("/src/images/skeleton/skeleton_skullsoldbrown.jpg"), alt: "Skeleton skull old brown" },
  { src: import("/src/images/skeleton/skeleton_skulldogonbox.jpg"), alt: "Skeleton skull dog on box" },
  { src: import("/src/images/skeleton/skeleton_skullhazelpawprint.jpg"), alt: "Skeleton skull hazel paw print" },
  { src: import("/src/images/skeleton/skeleton_catcrossbones.jpg"), alt: "Skeleton cat crossbones" },
  { src: import("/src/images/skeleton/skeleton_skulldogtoothgold.jpg"), alt: "Skeleton skull dog tooth gold" },
  { src: import("/src/images/skeleton/skeleton_skulltableblack.jpg"), alt: "Skeleton skull table black" },
  { src: import("/src/images/skeleton/skeleton_three.jpg"), alt: "Skeleton three" },
  { src: import("/src/images/skeleton/skeleton_dogartictulip.jpg"), alt: "Skeleton dog arctic tulip" },
  { src: import("/src/images/skeleton/skeleton_dogskullcandles.jpg"), alt: "Skeleton dog skull candles" },
  { src: import("/src/images/skeleton/skeleton_skullcatclose.jpg"), alt: "Skeleton skull cat close-up" },
  { src: import("/src/images/skeleton/skeleton_skulldogmarbleoutside.jpg"), alt: "Skeleton skull dog marble outside" },
];

// Resolve image imports and optimize images
const optimizedImages = await Promise.all(
  images.map(async (image) => {
    const importedImage = await image.src;
    const optimized = await getImage({
      src: importedImage.default,
      width: 500,
      quality: "max",
    });
    return { ...image, src: importedImage.default, optimized };
  })
);
---

<Layout
  title="Bone preservation for pet preservation and pet taxidermy"
  description="Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy."
>
  <div class="px-5 pt-5 md:px-20 md:pt-14 lg:flex lg:flex-col">
    <div class="font-display text-4xl font-bold lg:text-6xl">Skeleton</div>
    <div class="flex w-[200px] pt-2 md:w-[500px]">
      <LineFancy />
    </div>
    <div class="pt-4 font-display text-lg lg:pt-4">
      Revealing and elegant, bones tell the remarkable story of your loved one's
      life.
    </div>
    <div class="pt-4 lg:pt-2">
      Families often choose to preserve their pet's bones as an elegant,
      insightful homage to their departed loved one. Bone preservation can be as
      simple as just your pet's skull, as artful as a container storing a
      collection of their cleaned bones for viewing, or as complex as a full
      articulation of their skeleton.
    </div>
  </div>
  
<div id="gallery" class="grid grid-cols-1 justify-items-center gap-y-4 px-5 pt-4 sm:grid-cols-3 md:mt-4 md:grid-cols-4 md:gap-x-4 md:px-20">
  {optimizedImages.map((image) => (
    <a
      href={image.optimized.src}
      data-pswp-width={image.optimized.attributes.width}
      data-pswp-height={image.optimized.attributes.height}
      target="_blank"
    >
        <Image src={image.src} alt={image.alt} quality="max" class="rounded-xl" />
    </a>
  ))}
</div>

  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    let lightbox: PhotoSwipeLightbox;

    document.addEventListener("astro:page-load", () => {
      lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
      });

      lightbox.init();
    });
document.addEventListener("astro:before-swap", () => {
      lightbox.destroy();
    });
  </script>
</Layout>
