---
import Layout from "../layouts/Base.astro";
import LineFancy from "../components/LineFancy.astro";

import { Image, getImage } from "astro:assets";

import imageTail from "/src/images/skeleton/skeleton_and_fur_tail.jpg";
const optimizedImageTail = await getImage({ src: imageTail, width: 500, quality: 'max' });

import imageDogWhippetPlant from "/src/images/skeleton/skeleton_skulldogwhippetplant1.jpg";
const optimizedImageDogWhippetPlant = await getImage({ src: imageDogWhippetPlant, width: 500 });

import imageVial from "/src/images/skeleton/skeleton_withvial.jpg";
const optimizedImageVial = await getImage({ src: imageVial, width: 500 });

import imageFullDog from "/src/images/skeleton/skeleton_fulldogartictabletulip.jpg";
const optimizedImageFullDog = await getImage({ src: imageFullDog, width: 500 });

import imageCatFurBalls from "/src/images/skeleton/skeleton_catfurballs.jpg";
const optimizedImageCatFurBalls = await getImage({ src: imageCatFurBalls, width: 500 });

import imageCatHeartNose from "/src/images/skeleton/skeleton_skullcatclose.jpg";
const optimizedImageCatHeartNose = await getImage({ src: imageCatHeartNose, width: 500 });

import imageCatHoldingPaw from "/src/images/skeleton/skeleton_catholdingoutpaw.jpg";
const optimizedImageCatHoldingPaw = await getImage({ src: imageCatHoldingPaw, width: 500 });

import imageSkullCatHeadstone from "/src/images/skeleton/skeleton_skullcatheadstone.jpg";
const optimizedImageSkullCatHeadstone = await getImage({ src: imageSkullCatHeadstone, width: 500 });

import imageSkullDogCandle from "/src/images/skeleton/skeleton_skulldogcandle.jpg";
const optimizedImageSkullDogCandle = await getImage({ src: imageSkullDogCandle, width: 500 });

import imageBonesArranged from "/src/images/skeleton/skeleton_bonesarranged.jpg";
const optimizedImageBonesArranged = await getImage({ src: imageBonesArranged, width: 500 });

import imageSkullCrossbones from "/src/images/skeleton/skeleton_skullcrossbonescatfur.jpg";
const optimizedImageSkullCrossbones = await getImage({ src: imageSkullCrossbones, width: 500 });

import imageSkullOldBrown from "/src/images/skeleton/skeleton_skullsoldbrown.jpg";
const optimizedImageSkullOldBrown = await getImage({ src: imageSkullOldBrown, width: 500 });

import imageSkullDogBox from "/src/images/skeleton/skeleton_skulldogonbox.jpg";
const optimizedImageSkullDogBox = await getImage({ src: imageSkullDogBox, width: 500 });

import imageSkullHazelPawPrint from "/src/images/skeleton/skeleton_skullhazelpawprint.jpg";
const optimizedImageSkullHazelPawPrint = await getImage({ src: imageSkullHazelPawPrint, width: 500 });

import imageCatCrossbones from "/src/images/skeleton/skeleton_catcrossbones.jpg";
const optimizedImageCatCrossbones = await getImage({ src: imageCatCrossbones, width: 500 });

import imageSkullDogGoldTooth from "/src/images/skeleton/skeleton_skulldogtoothgold.jpg";
const optimizedImageSkullDogGoldTooth = await getImage({ src: imageSkullDogGoldTooth, width: 500 });

import imageSkullTableBlack from "/src/images/skeleton/skeleton_skulltableblack.jpg";
const optimizedImageSkullTableBlack = await getImage({ src: imageSkullTableBlack, width: 500 });

import imageThree from "/src/images/skeleton/skeleton_three.jpg";
const optimizedImageThree = await getImage({ src: imageThree, width: 500 });

import imageDogArcticTulip from "/src/images/skeleton/skeleton_dogartictulip.jpg";
const optimizedImageDogArcticTulip = await getImage({ src: imageDogArcticTulip, width: 500 });

import imageDogSkullCandles from "/src/images/skeleton/skeleton_dogskullcandles.jpg";
const optimizedImageDogSkullCandles = await getImage({ src: imageDogSkullCandles, width: 500 });

import imageSkullCatClose from "/src/images/skeleton/skeleton_skullcatclose.jpg";
const optimizedImageSkullCatClose = await getImage({ src: imageSkullCatClose, width: 500 });

import imageSkullDogMarble from "/src/images/skeleton/skeleton_skulldogmarbleoutside.jpg";
const optimizedImageSkullDogMarble = await getImage({ src: imageSkullDogMarble, width: 500 });


---

<Layout
  title="Bone preservation for pet preservation and pet taxidermy"
  description="Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy.">

  <div class="lg:flex lg:flex-col">
    <div
      class="px-4 pt-4 font-display text-4xl font-bold lg:px-24 lg:pt-8 lg:text-6xl"
    >
    Skeleton
    </div>
    <div class="justify-left flex items-center pl-4 pt-2 lg:hidden">
      <LineFancy width="40%" />
    </div>
    <div class="hidden lg:mx-20 lg:flex lg:pl-4 lg:pt-3">
      <LineFancy width="30%" />
    </div>
    <div class="px-4 pt-4 font-display text-lg lg:px-24 lg:pt-6">
      Revealing and elegant, bones tell the remarkable story of your loved one's
      life.
    </div>
    <div class="px-4 pt-4 lg:px-24 lg:pt-2">
      Families often choose to preserve their pet's bones as an elegant,
      insightful homage to their departed loved one. Bone preservation can be as
      simple as just your pet's skull, as artful as a container storing a
      collection of their cleaned bones for viewing, or as complex as a full
      articulation of their skeleton.
      </div>
    </div>

    
<div id="gallery"
class="grid grid-cols-1 justify-items-center gap-y-4 pt-4 sm:grid-cols-2 md:grid-cols-3 lg:mt-4 lg:grid-cols-4 lg:gap-x-4 lg:px-20">


<a
href={optimizedImageTail.src}
data-pswp-width={optimizedImageTail.attributes.width}
data-pswp-height={optimizedImageTail.attributes.height}
target="_blank"
>
<Image src={imageTail} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageDogWhippetPlant.src}
data-pswp-width={optimizedImageDogWhippetPlant.attributes.width}
data-pswp-height={optimizedImageDogWhippetPlant.attributes.height}
target="_blank"
>
<Image src={imageDogWhippetPlant} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageVial.src}
data-pswp-width={optimizedImageVial.attributes.width}
data-pswp-height={optimizedImageVial.attributes.height}
target="_blank"
>
<Image src={imageVial} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageFullDog.src}
data-pswp-width={optimizedImageFullDog.attributes.width}
data-pswp-height={optimizedImageFullDog.attributes.height}
target="_blank"
>
<Image src={imageFullDog} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageCatFurBalls.src}
data-pswp-width={optimizedImageCatFurBalls.attributes.width}
data-pswp-height={optimizedImageCatFurBalls.attributes.height}
target="_blank"
>
<Image src={imageCatFurBalls} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageCatHeartNose.src}
data-pswp-width={optimizedImageCatHeartNose.attributes.width}
data-pswp-height={optimizedImageCatHeartNose.attributes.height}
target="_blank"
>
<Image src={imageCatHeartNose} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageCatHoldingPaw.src}
data-pswp-width={optimizedImageCatHoldingPaw.attributes.width}
data-pswp-height={optimizedImageCatHoldingPaw.attributes.height}
target="_blank"
>
<Image src={imageCatHoldingPaw} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageSkullCatHeadstone.src}
data-pswp-width={optimizedImageSkullCatHeadstone.attributes.width}
data-pswp-height={optimizedImageSkullCatHeadstone.attributes.height}
target="_blank"
>
<Image src={imageSkullCatHeadstone} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageSkullDogCandle.src}
data-pswp-width={optimizedImageSkullDogCandle.attributes.width}
data-pswp-height={optimizedImageSkullDogCandle.attributes.height}
target="_blank"
>
<Image src={imageSkullDogCandle} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageBonesArranged.src}
data-pswp-width={optimizedImageBonesArranged.attributes.width}
data-pswp-height={optimizedImageBonesArranged.attributes.height}
target="_blank"
>
<Image src={imageBonesArranged} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageSkullCrossbones.src}
data-pswp-width={optimizedImageSkullCrossbones.attributes.width}
data-pswp-height={optimizedImageSkullCrossbones.attributes.height}
target="_blank"
>
<Image src={imageSkullCrossbones} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageSkullOldBrown.src}
data-pswp-width={optimizedImageSkullOldBrown.attributes.width}
data-pswp-height={optimizedImageSkullOldBrown.attributes.height}
target="_blank"
>
<Image src={imageSkullOldBrown} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageSkullDogBox.src}
data-pswp-width={optimizedImageSkullDogBox.attributes.width}
data-pswp-height={optimizedImageSkullDogBox.attributes.height}
target="_blank"
>
<Image src={imageSkullDogBox} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageSkullHazelPawPrint.src}
data-pswp-width={optimizedImageSkullHazelPawPrint.attributes.width}
data-pswp-height={optimizedImageSkullHazelPawPrint.attributes.height}
target="_blank"
>
<Image src={imageSkullHazelPawPrint} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageCatCrossbones.src}
data-pswp-width={optimizedImageCatCrossbones.attributes.width}
data-pswp-height={optimizedImageCatCrossbones.attributes.height}
target="_blank"
>
<Image src={imageCatCrossbones} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageSkullDogGoldTooth.src}
data-pswp-width={optimizedImageSkullDogGoldTooth.attributes.width}
data-pswp-height={optimizedImageSkullDogGoldTooth.attributes.height}
target="_blank"
>
<Image src={imageSkullDogGoldTooth} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageSkullTableBlack.src}
data-pswp-width={optimizedImageSkullTableBlack.attributes.width}
data-pswp-height={optimizedImageSkullTableBlack.attributes.height}
target="_blank"
>
<Image src={imageSkullTableBlack} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageThree.src}
data-pswp-width={optimizedImageThree.attributes.width}
data-pswp-height={optimizedImageThree.attributes.height}
target="_blank"
>
<Image src={imageThree} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageDogArcticTulip.src}
data-pswp-width={optimizedImageDogArcticTulip.attributes.width}
data-pswp-height={optimizedImageDogArcticTulip.attributes.height}
target="_blank"
>
<Image src={imageDogArcticTulip} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageDogSkullCandles.src}
data-pswp-width={optimizedImageDogSkullCandles.attributes.width}
data-pswp-height={optimizedImageDogSkullCandles.attributes.height}
target="_blank"
>
<Image src={imageDogSkullCandles} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageSkullCatClose.src}
data-pswp-width={optimizedImageSkullCatClose.attributes.width}
data-pswp-height={optimizedImageSkullCatClose.attributes.height}
target="_blank"
>
<Image src={imageSkullCatClose} alt={"altText"} height={350} quality="max" />
</a>

<a
href={optimizedImageSkullDogMarble.src}
data-pswp-width={optimizedImageSkullDogMarble.attributes.width}
data-pswp-height={optimizedImageSkullDogMarble.attributes.height}
target="_blank"
>
<Image src={imageSkullDogMarble} alt={"altText"} height={350} quality="max" />
</a>


</div>


<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  let lightbox: PhotoSwipeLightbox;

  document.addEventListener("astro:page-load", () => {
      lightbox = new PhotoSwipeLightbox({
          gallery: "#gallery",
          children: "a",
          pswpModule: () => import("photoswipe"),
      });

      lightbox.init();
  });

  document.addEventListener("astro:before-swap", () => {
      lightbox.destroy();
  });
</script>


</Layout>
