---
import Layout from "../layouts/Base.astro";
import LineFancy from "../components/LineFancy.astro";

import { Image, getImage } from "astro:assets";

// Define an array of image objects
const images = [
  { src: import("/src/images/casts/casts_completedog.jpg"), alt: "Full body cast of Chihuahua on sculptural base" },
  { src: import("/src/images/casts/casts_facecat.jpg"), alt: "Face cast with Sphinx cat" },
  { src: import("/src/images/casts/casts_pawsdogwhippetyellow.jpg"), alt: "Paw casts with Whippet" },
  { src: import("/src/images/casts/casts_nosesthree.jpg"), alt: "Three dog nose casts" },
  { src: import("/src/images/casts/casts_pawcathand.jpg"), alt: "Sphinx cat paw cast" },
  { src: import("/src/images/casts/casts_pawdogblackstand.jpg"), alt: "Paw cast with Great Dane on black stand" },
  { src: import("/src/images/casts/casts_pawdogwhitedown.jpg"), alt: "Two paw casts with hairless dog, facing down" },
  { src: import("/src/images/casts/casts_pawprintpallete.jpg"), alt: "Paw imprint in clay keepsake" },
  { src: import("/src/images/casts/casts_pawsnosemarble.jpg"), alt: "3D paw print and nose cast with dog" },
  { src: import("/src/images/casts/casts_pawwhitedoghand.jpg"), alt: "Paw cast with hairless dog" },
  { src: import("/src/images/casts/casts_pawdogblack.jpg"), alt: "Paw cast with Great Dane" },
  { src: import("/src/images/casts/casts_iguana.jpg"), alt: "Cast of iguana foot" },
  { src: import("/src/images/casts/casts_pawwhitedogup.jpg"), alt: "Two paw casts with hairless dog, highlighting toe beans" },
];

// Resolve image imports and optimize images
const optimizedImages = await Promise.all(
  images.map(async (image) => {
    const importedImage = await image.src;
    const optimized = await getImage({
      src: importedImage.default,
      width: 500,
      quality: "max",
    });
    return { ...image, src: importedImage.default, optimized };
  })
);
---

<Layout
  title="Casts for pet preservation and pet taxidermy"
  description="Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy."
>
  <div class="px-5 pt-5 md:flex md:flex-col md:px-20 md:pt-14">
    <div class="font-display text-4xl font-bold md:text-6xl">Casts</div>
    <div class="flex w-[200px] pt-2 md:w-[500px]">
      <LineFancy />
    </div>
    <div class="pt-4 font-display text-lg md:pt-6">
      Lifelike and inorganic, casts use alternative materials to commemorate
      your beloved.
    </div>
    <div class="pt-4 md:pt-2">
      Casts allow families to honor the memory of a loved pet without the
      preservation of their original fur or bones. Instead, alternative
      materials are used to accurately and intimately represent your pet's nose,
      paws, or other preferred aspect from life.
    </div>
  </div>

  <div
    id="gallery"
    class="grid grid-cols-1 justify-items-center gap-y-4 px-5 pt-4 sm:grid-cols-3 md:mt-4 md:grid-cols-4 md:gap-x-4 md:px-20"
  >
    {optimizedImages.map((image) => (
      <a
        href={image.optimized.src}
        data-pswp-width={image.optimized.attributes.width}
        data-pswp-height={image.optimized.attributes.height}
        target="_blank"
      >
        <Image src={image.src} alt={image.alt} quality="max" class="rounded-xl" />
      </a>
    ))}
  </div>

  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    let lightbox: PhotoSwipeLightbox;

    document.addEventListener("astro:page-load", () => {
      lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
      });

      lightbox.init();
    });

    document.addEventListener("astro:before-swap", () => {
      lightbox.destroy();
    });
  </script>
</Layout>