---
import Layout from "../layouts/Base.astro";
import LineFancy from "../components/LineFancy.astro";

import { Image, getImage } from "astro:assets";

// Define an array of image objects
const images = [
  { src: import("/src/images/taxidermy/yorkie4.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/yorkie2.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/tailorangeribbon.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_sleepingcat1.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_blackpaws.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_catandwoman.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fulldoginside.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_pawcatkey.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_dogbedeyesclosed.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fullhamster.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_dogfaceheld.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fullcatsleepingcurled.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_shoulderchi2.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_pawvial.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fulldogsleepingcandles.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_pawribbon.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_glider.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fullcatsleepingmouse.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_guineapig.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fulldogtorso.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_hedgehog.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_pawcatribbonblack.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_rabbit.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_sleepingcat2.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_tailnecklace.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_pawonantler.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_tailornament.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fulldogsidetongue1.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fullratback.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fullrattop.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_pawdoggoldribbon.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fulldogfrontchi.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fulldogsidetonguechi.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fulldogsleepingminpin.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fullhedgeback.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fullhedgeside.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_fullrabbitredribbon.jpg"), alt: "altText" },
  { src: import("/src/images/taxidermy/taxidermy_shoulderchi1.jpg"), alt: "altText" },
];

// Resolve image imports and optimize images
const optimizedImages = await Promise.all(
  images.map(async (image) => {
    const importedImage = await image.src;
    const optimized = await getImage({
      src: importedImage.default,
      width: 500,
      quality: "max",
    });
    return { ...image, src: importedImage.default, optimized };
  })
);
---

<Layout
  title="Complete and full body pet preservation and pet taxidermy"
  description="Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy."
>
  <div class="px-5 pt-5 md:flex md:flex-col md:px-20 md:pt-14">
    <div class="font-display text-4xl font-bold md:text-6xl">Taxidermy</div>
    <div class="flex w-[200px] pt-2 md:w-[500px]">
      <LineFancy />
    </div>
    <div class="pt-4 font-display text-lg md:pt-6">
      Sculptural and emotive, taxidermy preserves your pet's body to cherish
      forever.
    </div>
    <div class="pt-4 md:pt-2">
      The preservation of your pet's body serves as a remarkable memorial to
      their life and dignity. Although taxidermy encompasses a wide array of
      practices including paw preservation, complete or full-body taxidermy is
      likely the most recognizable form of the medium, and one that is both
      arresting in its accuracy and breathtaking in its connection to your
      beloved. As is true for any service we provide, consultation with you is
      key to understanding the thought, pose, and details necessary for a
      memorial to your loved one that will last a lifetime.
    </div>
  </div>

  <div
    id="gallery"
    class="grid grid-cols-1 justify-items-center gap-y-4 px-5 pt-4 sm:grid-cols-3 md:mt-4 md:grid-cols-4 md:gap-x-4 md:px-20"
  >
    {optimizedImages.map((image) => (
      <a
        href={image.optimized.src}
        data-pswp-width={image.optimized.attributes.width}
        data-pswp-height={image.optimized.attributes.height}
        target="_blank"
      >
        <Image src={image.src} alt={image.alt} quality="max" class="rounded-xl" />
      </a>
    ))}
  </div>

  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    let lightbox: PhotoSwipeLightbox;

    document.addEventListener("astro:page-load", () => {
      lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
      });

      lightbox.init();
    });

    document.addEventListener("astro:before-swap", () => {
      lightbox.destroy();
    });
  </script>
</Layout>