---
import Layout from "../layouts/Base.astro";
import LineFancy from "../components/LineFancy.astro";

import { Image, getImage } from "astro:assets";

import imageSleepingCat1 from "/src/images/taxidermy/taxidermy_sleepingcat1.jpg";
const optimizedImageSleepingCat1 = await getImage({
  src: imageSleepingCat1,
  width: 500,
  quality: "max",
});

import imageBlackPaws from "/src/images/taxidermy/taxidermy_blackpaws.jpg";
const optimizedImageBlackPaws = await getImage({
  src: imageBlackPaws,
  width: 500,
  quality: "max",
});

import imageCatAndWoman from "/src/images/taxidermy/taxidermy_catandwoman.jpg";
const optimizedImageCatAndWoman = await getImage({
  src: imageCatAndWoman,
  width: 500,
  quality: "max",
});

import imageFullDogInside from "/src/images/taxidermy/taxidermy_fulldoginside.jpg";
const optimizedImageFullDogInside = await getImage({
  src: imageFullDogInside,
  width: 500,
  quality: "max",
});

import imagePawCatKey from "/src/images/taxidermy/taxidermy_pawcatkey.jpg";
const optimizedImagePawCatKey = await getImage({
  src: imagePawCatKey,
  width: 500,
  quality: "max",
});

import imageDogBedEyesClosed from "/src/images/taxidermy/taxidermy_dogbedeyesclosed.jpg";
const optimizedImageDogBedEyesClosed = await getImage({
  src: imageDogBedEyesClosed,
  width: 500,
  quality: "max",
});

import imageFullHamster from "/src/images/taxidermy/taxidermy_fullhamster.jpg";
const optimizedImageFullHamster = await getImage({
  src: imageFullHamster,
  width: 500,
  quality: "max",
});

import imageDogFaceHeld from "/src/images/taxidermy/taxidermy_dogfaceheld.jpg";
const optimizedImageDogFaceHeld = await getImage({
  src: imageDogFaceHeld,
  width: 500,
  quality: "max",
});

import imageFullCatSleepingCurled from "/src/images/taxidermy/taxidermy_fullcatsleepingcurled.jpg";
const optimizedImageFullCatSleepingCurled = await getImage({
  src: imageFullCatSleepingCurled,
  width: 500,
  quality: "max",
});

import imagePawVial from "/src/images/taxidermy/taxidermy_pawvial.jpg";
const optimizedImagePawVial = await getImage({
  src: imagePawVial,
  width: 500,
  quality: "max",
});

import imageFullDogSleepingCandles from "/src/images/taxidermy/taxidermy_fulldogsleepingcandles.jpg";
const optimizedImageFullDogSleepingCandles = await getImage({
  src: imageFullDogSleepingCandles,
  width: 500,
  quality: "max",
});

import imagePawRibbon from "/src/images/taxidermy/taxidermy_pawribbon.jpg";
const optimizedImagePawRibbon = await getImage({
  src: imagePawRibbon,
  width: 500,
  quality: "max",
});

import imageGlider from "/src/images/taxidermy/taxidermy_glider.jpg";
const optimizedImageGlider = await getImage({
  src: imageGlider,
  width: 500,
  quality: "max",
});

import imageFullCatSleepingMouse from "/src/images/taxidermy/taxidermy_fullcatsleepingmouse.jpg";
const optimizedImageFullCatSleepingMouse = await getImage({
  src: imageFullCatSleepingMouse,
  width: 500,
  quality: "max",
});

import imageGuineaPig from "/src/images/taxidermy/taxidermy_guineapig.jpg";
const optimizedImageGuineaPig = await getImage({
  src: imageGuineaPig,
  width: 500,
  quality: "max",
});

import imageFullDogTorso from "/src/images/taxidermy/taxidermy_fulldogtorso.jpg";
const optimizedImageFullDogTorso = await getImage({
  src: imageFullDogTorso,
  width: 500,
  quality: "max",
});

import imageHedgehog from "/src/images/taxidermy/taxidermy_hedgehog.jpg";
const optimizedImageHedgehog = await getImage({
  src: imageHedgehog,
  width: 500,
  quality: "max",
});

import imagePawCatRibbonBlack from "/src/images/taxidermy/taxidermy_pawcatribbonblack.jpg";
const optimizedImagePawCatRibbonBlack = await getImage({
  src: imagePawCatRibbonBlack,
  width: 500,
  quality: "max",
});

import imageRabbit from "/src/images/taxidermy/taxidermy_rabbit.jpg";
const optimizedImageRabbit = await getImage({
  src: imageRabbit,
  width: 500,
  quality: "max",
});

import imageSleepingCat2 from "/src/images/taxidermy/taxidermy_sleepingcat2.jpg";
const optimizedImageSleepingCat2 = await getImage({
  src: imageSleepingCat2,
  width: 500,
  quality: "max",
});

import imageTailNecklace from "/src/images/taxidermy/taxidermy_tailnecklace.jpg";
const optimizedImageTailNecklace = await getImage({
  src: imageTailNecklace,
  width: 500,
  quality: "max",
});

import imagePawOnAntler from "/src/images/taxidermy/taxidermy_pawonantler.jpg";
const optimizedImagePawOnAntler = await getImage({
  src: imagePawOnAntler,
  width: 500,
  quality: "max",
});

import imageTailOrnament from "/src/images/taxidermy/taxidermy_tailornament.jpg";
const optimizedImageTailOrnament = await getImage({
  src: imageTailOrnament,
  width: 500,
  quality: "max",
});

import imageFullDogSideTongue1 from "/src/images/taxidermy/taxidermy_fulldogsidetongue1.jpg";
const optimizedImageFullDogSideTongue1 = await getImage({
  src: imageFullDogSideTongue1,
  width: 500,
  quality: "max",
});

import imageFullRatBack from "/src/images/taxidermy/taxidermy_fullratback.jpg";
const optimizedImageFullRatBack = await getImage({
  src: imageFullRatBack,
  width: 500,
  quality: "max",
});

import imageFullRatTop from "/src/images/taxidermy/taxidermy_fullrattop.jpg";
const optimizedImageFullRatTop = await getImage({
  src: imageFullRatTop,
  width: 500,
  quality: "max",
});

import imagePawDogGoldRibbon from "/src/images/taxidermy/taxidermy_pawdoggoldribbon.jpg";
const optimizedImagePawDogGoldRibbon = await getImage({
  src: imagePawDogGoldRibbon,
  width: 500,
  quality: "max",
});

import imageFullDogFrontChi from "/src/images/taxidermy/taxidermy_fulldogfrontchi.jpg";
const optimizedImageFullDogFrontChi = await getImage({
  src: imageFullDogFrontChi,
  width: 500,
  quality: "max",
});

import imageFullDogSideTongueChi from "/src/images/taxidermy/taxidermy_fulldogsidetonguechi.jpg";
const optimizedImageFullDogSideTongueChi = await getImage({
  src: imageFullDogSideTongueChi,
  width: 500,
  quality: "max",
});

import imageFullDogSleepingMinPin from "/src/images/taxidermy/taxidermy_fulldogsleepingminpin.jpg";
const optimizedImageFullDogSleepingMinPin = await getImage({
  src: imageFullDogSleepingMinPin,
  width: 500,
  quality: "max",
});

import imageFullHedgeBack from "/src/images/taxidermy/taxidermy_fullhedgeback.jpg";
const optimizedImageFullHedgeBack = await getImage({
  src: imageFullHedgeBack,
  width: 500,
  quality: "max",
});

import imageFullHedgeSide from "/src/images/taxidermy/taxidermy_fullhedgeside.jpg";
const optimizedImageFullHedgeSide = await getImage({
  src: imageFullHedgeSide,
  width: 500,
  quality: "max",
});

import imageFullRabbitRedRibbon from "/src/images/taxidermy/taxidermy_fullrabbitredribbon.jpg";
const optimizedImageFullRabbitRedRibbon = await getImage({
  src: imageFullRabbitRedRibbon,
  width: 500,
  quality: "max",
});

import imageFullShoulderChi1 from "/src/images/taxidermy/taxidermy_shoulderchi1.jpg";
const optimizedimageFullShoulderChi1 = await getImage({
  src: imageFullShoulderChi1,
  width: 500,
  quality: "max",
});

import imageFullShoulderChi2 from "/src/images/taxidermy/taxidermy_shoulderchi2.jpg";
const optimizedimageFullShoulderChi2 = await getImage({
  src: imageFullShoulderChi2,
  width: 500,
  quality: "max",
});



---

<Layout
  title="Complete and full body pet preservation and pet taxidermy"
  description="Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy."
>
  <div class="lg:flex lg:flex-col">
    <div
      class="px-4 pt-4 font-display text-4xl font-bold lg:px-24 lg:pt-8 lg:text-6xl"
    >
      Taxidermy
    </div>
    <div class="flex pl-4 pt-2 lg:pl-24 w-[200px] lg:w-[500px]">
      <LineFancy />
    </div>
    <div class="px-4 pt-4 font-display text-lg lg:px-24 lg:pt-6">
      Sculptural and emotive, taxidermy preserves your pet's body to cherish
      forever.
    </div>
    <div class="px-4 pt-4 lg:px-24 lg:pt-2">
      The preservation of your pet's body serves as a remarkable memorial to
      their life and dignity. Although taxidermy encompasses a wide array of
      practices including paw preservation, complete or full-body taxidermy is
      likely the most recognizable form of the medium, and one that is both
      arresting in its accuracy and breathtaking in its connection to your
      beloved. As is true for any service we provide, consultation with you is
      key to understanding the thought, pose, and details necessary for a
      memorial to your loved one that will last a lifetime.
    </div>
  </div>

  <div
    id="gallery"
    class="grid grid-cols-1 justify-items-center gap-y-4 pt-4 sm:grid-cols-2 md:grid-cols-3 lg:mt-4 lg:grid-cols-4 lg:gap-x-4 lg:px-20"
  >
    <a
      href={optimizedImageSleepingCat1.src}
      data-pswp-width={optimizedImageSleepingCat1.attributes.width}
      data-pswp-height={optimizedImageSleepingCat1.attributes.height}
      target="_blank"
    >
      <Image
        src={imageSleepingCat1}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageBlackPaws.src}
      data-pswp-width={optimizedImageBlackPaws.attributes.width}
      data-pswp-height={optimizedImageBlackPaws.attributes.height}
      target="_blank"
    >
      <Image src={imageBlackPaws} alt={"altText"} height={350} quality="max" />
    </a>

    <a
      href={optimizedImageCatAndWoman.src}
      data-pswp-width={optimizedImageCatAndWoman.attributes.width}
      data-pswp-height={optimizedImageCatAndWoman.attributes.height}
      target="_blank"
    >
      <Image
        src={imageCatAndWoman}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullDogInside.src}
      data-pswp-width={optimizedImageFullDogInside.attributes.width}
      data-pswp-height={optimizedImageFullDogInside.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullDogInside}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImagePawCatKey.src}
      data-pswp-width={optimizedImagePawCatKey.attributes.width}
      data-pswp-height={optimizedImagePawCatKey.attributes.height}
      target="_blank"
    >
      <Image src={imagePawCatKey} alt={"altText"} height={350} quality="max" />
    </a>

    <a
      href={optimizedImageDogBedEyesClosed.src}
      data-pswp-width={optimizedImageDogBedEyesClosed.attributes.width}
      data-pswp-height={optimizedImageDogBedEyesClosed.attributes.height}
      target="_blank"
    >
      <Image
        src={imageDogBedEyesClosed}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullHamster.src}
      data-pswp-width={optimizedImageFullHamster.attributes.width}
      data-pswp-height={optimizedImageFullHamster.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullHamster}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageDogFaceHeld.src}
      data-pswp-width={optimizedImageDogFaceHeld.attributes.width}
      data-pswp-height={optimizedImageDogFaceHeld.attributes.height}
      target="_blank"
    >
      <Image
        src={imageDogFaceHeld}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullCatSleepingCurled.src}
      data-pswp-width={optimizedImageFullCatSleepingCurled.attributes.width}
      data-pswp-height={optimizedImageFullCatSleepingCurled.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullCatSleepingCurled}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

  <a
  href={optimizedimageFullShoulderChi2.src}
  data-pswp-width={optimizedimageFullShoulderChi2.attributes.width}
  data-pswp-height={optimizedimageFullShoulderChi2.attributes.height}
  target="_blank"
>
  <Image
    src={imageFullShoulderChi2}
    alt={"altText"}
    height={350}
    quality="max"
  />
</a>

    <a
      href={optimizedImagePawVial.src}
      data-pswp-width={optimizedImagePawVial.attributes.width}
      data-pswp-height={optimizedImagePawVial.attributes.height}
      target="_blank"
    >
      <Image src={imagePawVial} alt={"altText"} height={350} quality="max" />
    </a>

    <a
      href={optimizedImageFullDogSleepingCandles.src}
      data-pswp-width={optimizedImageFullDogSleepingCandles.attributes.width}
      data-pswp-height={optimizedImageFullDogSleepingCandles.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullDogSleepingCandles}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImagePawRibbon.src}
      data-pswp-width={optimizedImagePawRibbon.attributes.width}
      data-pswp-height={optimizedImagePawRibbon.attributes.height}
      target="_blank"
    >
      <Image src={imagePawRibbon} alt={"altText"} height={350} quality="max" />
    </a>

    <a
      href={optimizedImageGlider.src}
      data-pswp-width={optimizedImageGlider.attributes.width}
      data-pswp-height={optimizedImageGlider.attributes.height}
      target="_blank"
    >
      <Image src={imageGlider} alt={"altText"} height={350} quality="max" />
    </a>

    <a
      href={optimizedImageFullCatSleepingMouse.src}
      data-pswp-width={optimizedImageFullCatSleepingMouse.attributes.width}
      data-pswp-height={optimizedImageFullCatSleepingMouse.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullCatSleepingMouse}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageGuineaPig.src}
      data-pswp-width={optimizedImageGuineaPig.attributes.width}
      data-pswp-height={optimizedImageGuineaPig.attributes.height}
      target="_blank"
    >
      <Image src={imageGuineaPig} alt={"altText"} height={350} quality="max" />
    </a>

    <a
      href={optimizedImageFullDogTorso.src}
      data-pswp-width={optimizedImageFullDogTorso.attributes.width}
      data-pswp-height={optimizedImageFullDogTorso.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullDogTorso}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageHedgehog.src}
      data-pswp-width={optimizedImageHedgehog.attributes.width}
      data-pswp-height={optimizedImageHedgehog.attributes.height}
      target="_blank"
    >
      <Image src={imageHedgehog} alt={"altText"} height={350} quality="max" />
    </a>

    <a
      href={optimizedImagePawCatRibbonBlack.src}
      data-pswp-width={optimizedImagePawCatRibbonBlack.attributes.width}
      data-pswp-height={optimizedImagePawCatRibbonBlack.attributes.height}
      target="_blank"
    >
      <Image
        src={imagePawCatRibbonBlack}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageRabbit.src}
      data-pswp-width={optimizedImageRabbit.attributes.width}
      data-pswp-height={optimizedImageRabbit.attributes.height}
      target="_blank"
    >
      <Image src={imageRabbit} alt={"altText"} height={350} quality="max" />
    </a>

    <a
      href={optimizedImageSleepingCat2.src}
      data-pswp-width={optimizedImageSleepingCat2.attributes.width}
      data-pswp-height={optimizedImageSleepingCat2.attributes.height}
      target="_blank"
    >
      <Image
        src={imageSleepingCat2}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageTailNecklace.src}
      data-pswp-width={optimizedImageTailNecklace.attributes.width}
      data-pswp-height={optimizedImageTailNecklace.attributes.height}
      target="_blank"
    >
      <Image
        src={imageTailNecklace}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImagePawOnAntler.src}
      data-pswp-width={optimizedImagePawOnAntler.attributes.width}
      data-pswp-height={optimizedImagePawOnAntler.attributes.height}
      target="_blank"
    >
      <Image
        src={imagePawOnAntler}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageTailOrnament.src}
      data-pswp-width={optimizedImageTailOrnament.attributes.width}
      data-pswp-height={optimizedImageTailOrnament.attributes.height}
      target="_blank"
    >
      <Image
        src={imageTailOrnament}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullDogSideTongue1.src}
      data-pswp-width={optimizedImageFullDogSideTongue1.attributes.width}
      data-pswp-height={optimizedImageFullDogSideTongue1.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullDogSideTongue1}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullRatBack.src}
      data-pswp-width={optimizedImageFullRatBack.attributes.width}
      data-pswp-height={optimizedImageFullRatBack.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullRatBack}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullRatTop.src}
      data-pswp-width={optimizedImageFullRatTop.attributes.width}
      data-pswp-height={optimizedImageFullRatTop.attributes.height}
      target="_blank"
    >
      <Image src={imageFullRatTop} alt={"altText"} height={350} quality="max" />
    </a>

    <a
      href={optimizedImagePawDogGoldRibbon.src}
      data-pswp-width={optimizedImagePawDogGoldRibbon.attributes.width}
      data-pswp-height={optimizedImagePawDogGoldRibbon.attributes.height}
      target="_blank"
    >
      <Image
        src={imagePawDogGoldRibbon}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullDogFrontChi.src}
      data-pswp-width={optimizedImageFullDogFrontChi.attributes.width}
      data-pswp-height={optimizedImageFullDogFrontChi.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullDogFrontChi}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullDogSideTongueChi.src}
      data-pswp-width={optimizedImageFullDogSideTongueChi.attributes.width}
      data-pswp-height={optimizedImageFullDogSideTongueChi.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullDogSideTongueChi}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullDogSleepingMinPin.src}
      data-pswp-width={optimizedImageFullDogSleepingMinPin.attributes.width}
      data-pswp-height={optimizedImageFullDogSleepingMinPin.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullDogSleepingMinPin}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullHedgeBack.src}
      data-pswp-width={optimizedImageFullHedgeBack.attributes.width}
      data-pswp-height={optimizedImageFullHedgeBack.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullHedgeBack}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullHedgeSide.src}
      data-pswp-width={optimizedImageFullHedgeSide.attributes.width}
      data-pswp-height={optimizedImageFullHedgeSide.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullHedgeSide}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>

    <a
      href={optimizedImageFullRabbitRedRibbon.src}
      data-pswp-width={optimizedImageFullRabbitRedRibbon.attributes.width}
      data-pswp-height={optimizedImageFullRabbitRedRibbon.attributes.height}
      target="_blank"
    >
      <Image
        src={imageFullRabbitRedRibbon}
        alt={"altText"}
        height={350}
        quality="max"
      />
    </a>
  </div>

  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    let lightbox: PhotoSwipeLightbox;

    document.addEventListener("astro:page-load", () => {
      lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
      });

      lightbox.init();
    });

    document.addEventListener("astro:before-swap", () => {
      lightbox.destroy();
    });
  </script>
</Layout>
