---
import Layout from "../layouts/Base.astro";
import LineFancy from "../components/LineFancy.astro";

import { Image, getImage } from "astro:assets";

import imageAkita from "/src/images/coat/coat_akita.jpg";
const optimizedImageAkita = await getImage({ src: imageAkita, width: 500 });

import imageBallNeedles from "/src/images/coat/coat_ballneedles.jpg";
const optimizedImageBallNeedles = await getImage({ src: imageBallNeedles, width: 500 });

import imageBallOrnament from "/src/images/coat/coat_ballornament.jpg";
const optimizedImageBallOrnament = await getImage({ src: imageBallOrnament, width: 500 });

import imageHeart from "/src/images/coat/coat_heart.jpg";
const optimizedImageHeart = await getImage({ src: imageHeart, width: 500 });

import imageBlackPoof from "/src/images/coat/coat_blackpoof.jpg";
const optimizedImageBlackPoof = await getImage({ src: imageBlackPoof, width: 500 });

import imageDrape from "/src/images/coat/coat_drape.jpg";
const optimizedImageDrape = await getImage({ src: imageDrape, width: 500 });

import imageOrangeInFrame from "/src/images/coat/coat_orangeinframe.jpg";
const optimizedImageOrangeInFrame = await getImage({ src: imageOrangeInFrame, width: 500 });

import imageTinyCat from "/src/images/coat/coat_tinycat.jpg";
const optimizedImageTinyCat = await getImage({ src: imageTinyCat, width: 500 });

import imageTinyBall from "/src/images/coat/coat_tinyball.jpg";
const optimizedImageTinyBall = await getImage({ src: imageTinyBall, width: 500 });

import imageFeathersVialsBox from "/src/images/coat/coat_feathersvialsbox.jpeg";
const optimizedImageFeathersVialsBox = await getImage({ src: imageFeathersVialsBox, width: 500 });

import imageFullCatSkull from "/src/images/coat/coat_fullcatskullincase2.jpg";
const optimizedImageFullCatSkull = await getImage({ src: imageFullCatSkull, width: 500 });

import imageHeartBlack from "/src/images/coat/coat_heartblack.jpg";
const optimizedImageHeartBlack = await getImage({ src: imageHeartBlack, width: 500 });

import imageHeartBrownWhite from "/src/images/coat/coat_heartbrownwhite.jpeg";
const optimizedImageHeartBrownWhite = await getImage({ src: imageHeartBrownWhite, width: 500 });

import imageVialsMusicBonesTable from "/src/images/coat/coat_vialsmusicbonestable.jpeg";
const optimizedImageVialsMusicBonesTable = await getImage({ src: imageVialsMusicBonesTable, width: 500 });

import imageBallsOrangeBlack from "/src/images/coat/coat_ballsorangeblack.jpg";
const optimizedImageBallsOrangeBlack = await getImage({ src: imageBallsOrangeBlack, width: 500 });


---

<Layout
  title="Fur for pet preservation and pet taxidermy"
  description="Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy.">

  <div class="lg:flex lg:flex-col">
    <div
      class="px-4 pt-4 font-display text-4xl font-bold lg:px-24 lg:pt-8 lg:text-6xl"
    >
    Coat
    </div>
    <div class="justify-left flex items-center pl-4 pt-2 lg:hidden">
      <LineFancy width="40%" />
    </div>
    <div class="hidden lg:mx-20 lg:flex lg:pl-4 lg:pt-3">
      <LineFancy width="30%" />
    </div>
    <div class="px-4 pt-4 font-display text-lg lg:px-24 lg:pt-6">
      By preserving your companion's coat, you can have a memorial of them to
    touch and cherish.
    </div>
    <div class="px-4 pt-4 lg:px-24 lg:pt-2">
      Coat preservation is one of the most versatile methods of preserving and
      remembering your pet. Families choose to remember their pets through shaped
      fur; paw, tail, or complete pelt preservation; whisker and fur clippings;
      and felted balls.
      </div>
    </div>

    
<div id="gallery"
class="grid grid-cols-1 justify-items-center gap-y-4 pt-4 sm:grid-cols-2 md:grid-cols-3 lg:mt-4 lg:grid-cols-4 lg:gap-x-4 lg:px-20">


  <a
  href={optimizedImageAkita.src}
  data-pswp-width={optimizedImageAkita.attributes.width}
  data-pswp-height={optimizedImageAkita.attributes.height}
  target="_blank"
>
  <Image src={imageAkita} alt="Coat preservation of the face and ears of an Akita" height={350} />
</a>

<a
  href={optimizedImageBallNeedles.src}
  data-pswp-width={optimizedImageBallNeedles.attributes.width}
  data-pswp-height={optimizedImageBallNeedles.attributes.height}
  target="_blank"
>
  <Image src={imageBallNeedles} alt="Three needle felted fur spheres with a Whippet and a Himalayan cat" height={350} />
</a>

<a
  href={optimizedImageBallOrnament.src}
  data-pswp-width={optimizedImageBallOrnament.attributes.width}
  data-pswp-height={optimizedImageBallOrnament.attributes.height}
  target="_blank"
>
  <Image src={imageBallOrnament} alt="Coat preservation sphere with a Pomeranian" height={350} />
</a>

<a
  href={optimizedImageHeart.src}
  data-pswp-width={optimizedImageHeart.attributes.width}
  data-pswp-height={optimizedImageHeart.attributes.height}
  target="_blank"
>
  <Image src={imageHeart} alt="Heart-shaped coat preservation of chest area with Bully" height={350} />
</a>

<a
  href={optimizedImageBlackPoof.src}
  data-pswp-width={optimizedImageBlackPoof.attributes.width}
  data-pswp-height={optimizedImageBlackPoof.attributes.height}
  target="_blank"
>
  <Image src={imageBlackPoof} alt="Skinless coat preservation with a Shih Tzu" height={350} />
</a>

<a
  href={optimizedImageDrape.src}
  data-pswp-width={optimizedImageDrape.attributes.width}
  data-pswp-height={optimizedImageDrape.attributes.height}
  target="_blank"
>
  <Image src={imageDrape} alt="Full body coat preservation with a Bulldog (bear rug style)" height={350} />
</a>

<a
  href={optimizedImageOrangeInFrame.src}
  data-pswp-width={optimizedImageOrangeInFrame.attributes.width}
  data-pswp-height={optimizedImageOrangeInFrame.attributes.height}
  target="_blank"
>
  <Image src={imageOrangeInFrame} alt="Framed long-haired coat preservation" height={350} />
</a>

<a
  href={optimizedImageTinyCat.src}
  data-pswp-width={optimizedImageTinyCat.attributes.width}
  data-pswp-height={optimizedImageTinyCat.attributes.height}
  target="_blank"
>
  <Image src={imageTinyCat} alt="Tiny coat preservation with cat" height={350} />
</a>

<a
  href={optimizedImageTinyBall.src}
  data-pswp-width={optimizedImageTinyBall.attributes.width}
  data-pswp-height={optimizedImageTinyBall.attributes.height}
  target="_blank"
>
  <Image src={imageTinyBall} alt="Skinless coat preservation with Tabby cat" height={350} />
</a>

<a
  href={optimizedImageFeathersVialsBox.src}
  data-pswp-width={optimizedImageFeathersVialsBox.attributes.width}
  data-pswp-height={optimizedImageFeathersVialsBox.attributes.height}
  target="_blank"
>
  <Image src={imageFeathersVialsBox} alt="Feather collection in glass vials" height={350} />
</a>

<a
  href={optimizedImageFullCatSkull.src}
  data-pswp-width={optimizedImageFullCatSkull.attributes.width}
  data-pswp-height={optimizedImageFullCatSkull.attributes.height}
  target="_blank"
>
  <Image src={imageFullCatSkull} alt="Full body coat preservation and skull cleaning in glass casket box with cat" height={350} />
</a>

<a
  href={optimizedImageHeartBlack.src}
  data-pswp-width={optimizedImageHeartBlack.attributes.width}
  data-pswp-height={optimizedImageHeartBlack.attributes.height}
  target="_blank"
>
  <Image src={imageHeartBlack} alt="Heart-shaped coat preservation with Rottweiler" height={350} />
</a>

<a
  href={optimizedImageHeartBrownWhite.src}
  data-pswp-width={optimizedImageHeartBrownWhite.attributes.width}
  data-pswp-height={optimizedImageHeartBrownWhite.attributes.height}
  target="_blank"
>
  <Image src={imageHeartBrownWhite} alt="Mini heart-shaped coat preservation for Chihuahua" height={350} />
</a>

<a
  href={optimizedImageVialsMusicBonesTable.src}
  data-pswp-width={optimizedImageVialsMusicBonesTable.attributes.width}
  data-pswp-height={optimizedImageVialsMusicBonesTable.attributes.height}
  target="_blank"
>
  <Image src={imageVialsMusicBonesTable} alt="Hair and whisker collection with dog, with septum bone" height={350} />
</a>

<a
  href={optimizedImageBallsOrangeBlack.src}
  data-pswp-width={optimizedImageBallsOrangeBlack.attributes.width}
  data-pswp-height={optimizedImageBallsOrangeBlack.attributes.height}
  target="_blank"
>
  <Image src={imageBallsOrangeBlack} alt="Four coat preservation spheres with a Siamese cat" height={350} />
</a>


</div>


<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  let lightbox: PhotoSwipeLightbox;

  document.addEventListener("astro:page-load", () => {
      lightbox = new PhotoSwipeLightbox({
          gallery: "#gallery",
          children: "a",
          pswpModule: () => import("photoswipe"),
      });

      lightbox.init();
  });

  document.addEventListener("astro:before-swap", () => {
      lightbox.destroy();
  });
</script>


</Layout>
