---
import Layout from "../layouts/Base.astro";
import LineFancy from "../components/LineFancy.astro";

import { Image, getImage } from "astro:assets";

// Define an array of image objects
const images = [
  { src: import("/src/images/coat/coat_akita.jpg"), alt: "Coat preservation of the face and ears of an Akita" },
  { src: import("/src/images/coat/coat_ballneedles.jpg"), alt: "Three needle felted fur spheres with a Whippet and a Himalayan cat" },
  { src: import("/src/images/coat/coat_ballornament.jpg"), alt: "Coat preservation sphere with a Pomeranian" },
  { src: import("/src/images/coat/softmountdog.jpg"), alt: "Full coat of a dog with a tulip" },
  { src: import("/src/images/coat/coat_heart.jpg"), alt: "Heart-shaped coat preservation of chest area with Bully" },
  { src: import("/src/images/coat/coat_blackpoof.jpg"), alt: "Skinless coat preservation with a Shih Tzu" },
  { src: import("/src/images/coat/coat_drape.jpg"), alt: "Full body coat preservation with a Bulldog (bear rug style)" },
  { src: import("/src/images/coat/coat_orangeinframe.jpg"), alt: "Framed long-haired coat preservation" },
  { src: import("/src/images/coat/coat_tinycat.jpg"), alt: "Tiny coat preservation with cat" },
  { src: import("/src/images/coat/coat_tinyball.jpg"), alt: "Skinless coat preservation with Tabby cat" },
  { src: import("/src/images/coat/coat_feathersvialsbox.jpg"), alt: "Feather collection in glass vials" },
  { src: import("/src/images/coat/coat_fullcatskullincase2.jpg"), alt: "Full body coat preservation and skull cleaning in glass casket box with cat" },
  { src: import("/src/images/coat/coat_heartblack.jpg"), alt: "Heart-shaped coat preservation with Rottweiler" },
  { src: import("/src/images/coat/coat_heartbrownwhite.jpg"), alt: "Mini heart-shaped coat preservation for Chihuahua" },
  { src: import("/src/images/coat/coat_vialsmusicbonestable.jpg"), alt: "Hair and whisker collection with dog, with septum bone" },
  { src: import("/src/images/coat/coat_ballsorangeblack.jpg"), alt: "Four coat preservation spheres with a Siamese cat" },
];

// Resolve image imports and optimize images
const optimizedImages = await Promise.all(
  images.map(async (image) => {
    const importedImage = await image.src;
    const optimized = await getImage({
      src: importedImage.default,
      width: 500,
      quality: "max",
    });
    return { ...image, src: importedImage.default, optimized };
  })
);
---

<Layout
  title="Fur for pet preservation and pet taxidermy"
  description="Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy."
>
  <div class="px-5 pt-5 md:flex md:flex-col md:px-40 md:pt-14">
    <div class="font-display text-4xl font-bold md:text-6xl">Coat</div>
    <div class="flex w-[200px] pt-2 md:w-[500px]">
      <LineFancy />
    </div>
    <div class="pt-4 font-display text-lg md:pt-6">
      By preserving your companion's coat, you can have a memorial of them to
      touch and cherish.
    </div>
    <div class="pt-4 md:pt-2">
      Coat preservation is one of the most versatile methods of preserving and
      remembering your pet. Families choose to remember their pets through
      shaped fur; paw, tail, or complete pelt preservation; whisker and fur
      clippings; and felted balls.
    </div>
  </div>

  <div
    id="gallery"
    class="grid grid-cols-1 justify-items-center gap-y-4 px-5 pt-4 sm:grid-cols-3 md:mt-4 md:grid-cols-4 md:gap-x-4 md:px-40"
  >
    {optimizedImages.map((image) => (
      <a
        href={image.optimized.src}
        data-pswp-width={image.optimized.attributes.width}
        data-pswp-height={image.optimized.attributes.height}
        target="_blank"
      >
        <Image src={image.src} alt={image.alt} height={350} quality="max" />
      </a>
    ))}
  </div>

  <script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    import "photoswipe/style.css";

    let lightbox: PhotoSwipeLightbox;

    document.addEventListener("astro:page-load", () => {
      lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
      });

      lightbox.init();
    });

    document.addEventListener("astro:before-swap", () => {
      lightbox.destroy();
    });
  </script>
</Layout>