---
import Layout from "../layouts/Base.astro";
import { Image, getImage } from "astro:assets";
import LineFancy from "../components/LineFancy.astro";

import coverDesktop from "../images/cover.webp";
const optimizedCoverDesktop = await getImage({
  src: coverDesktop,
  width: 500,
  quality: "max",
});

import coverMobile from "../images/cover.webp";
const optimizedCoverMobile = await getImage({
  src: coverMobile,
  width: 350,
  quality: "max",
});
---

<Layout
  title="Pet Aftercare, Pet Taxidermy, and Pet Preservation"
  description="Precious Creature is a pet aftercare, pet preservation, and taxidermy designs service in California. "
>
  <div class="px-4 sm:px-20 md:mt-10 lg:px-40">
    <div class="relative">
      <Image
        class="mx-auto mb-4 mt-4 w-[350px] rounded-lg md:float-right md:ml-6 md:w-[350px] lg:float-right lg:ml-6 lg:w-[500px]"
        src={coverMobile}
        srcset={`${optimizedCoverMobile.src} 350w, ${optimizedCoverDesktop.src} 500w`}
        sizes="(max-width: 1024px) 350px, 500px"
        alt="Small dog's skull with a nose cast and tail preservation next to them. Antlers are in the background."
        fetchpriority="high"
      />
      <div>
        <p
          class="py-3 font-display text-4xl font-bold lg:text-6xl lg:font-normal"
        >
          Honoring your companion.
        </p>
        <div class="mx-auto w-[300px] md:mx-0 md:w-[300px] lg:w-[350px]">
          <LineFancy />
        </div>
        <div class="pt-3 font-display text-lg">
          At Precious Creature, we provide compassionate pet aftercare services
          using taxidermy, leather-free preservation, and other traditional and
          innovative artisanal methods.
        </div>
        <div class="pt-3">
          We work with families across the United States to care for deceased
          pets with dignity and compassion. <strong
            >Because every family and loved one is unique, we work individually
            with you to create the right memorial for your departed companion.</strong
          > For families who would prefer honoring the memory of their pet without
          preserving their hard or soft tissue, we regularly provide services including
          casts and felted hair spheres. Explore our website to learn more.
        </div>
        <div class="pt-3 font-bold">
          Contact us to learn more about the ways we can work together to honor
          your companion.
        </div>
      </div>
    </div>
  </div>

  <Fragment slot="head">
    <link
      rel="preload"
      href={optimizedCoverDesktop.src}
      as="image"
      fetchpriority="high"
    />
    <link
      rel="preload"
      href={optimizedCoverMobile.src}
      as="image"
      fetchpriority="high"
    />
  </Fragment>
</Layout>
